*, *::after, *::before{
	box-sizing: border-box;
}

.container{
	/* -webkit-flex older browser -ms-flex IE */
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;

	justify-content: space-around;
}


.items{
	margin: 0.5rem;
	flex: 1 1 auto;
}

.item-img{
	margin: 0.5rem;
	flex: 3 1 400px;
}


