html{
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}


h1,h2,h3,h4,h5{
	/*** 
	weight reference
	600 is semi-bold
	500 is medium	
	400 is regular
	300 is light
	200 is extra light 
	 ***/
	font-weight: 400;
}

a{
	text-decoration: none;
	color: #98A7AC;
	text-align: center;
}

img{
	max-width: 100%;
}

figcaption{
	font-size: 0.8rem;
}


/********* Colour Branding *********/
.colour-sample{
	padding: 1rem 2rem;
	width: 8rem; 
	height: 8rem;
}

.colour-sample p{
	text-align: center;
	
}

.teal{
	background-color: #006B77;
	color: #F8F8F6;
}

.apricot{
	background-color: #F6C270;
	color: black;
}

.pink{
	background-color: #FBC5C8;
	color: black;
}

.white-smoke{
	background-color: #F8F8F6;
	color: black;
}

.cadet-grey{
	background-color: #98A7AC;
	color: #F8F8F6;
}


/********* Wireframes *********/

.shadow{
	/**** To stand out in the white BG****/
	-webkit-box-shadow: 
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
	box-shadow:
	0 1.1px 7.4px rgba(0, 0, 0, 0.028),
	0 12.3px 25px rgba(0, 0, 0, 0.032),
	0 77px 112px rgba(0, 0, 0, 0.07);
}




/********* index.html nav & footer *********/

.nav-item{
	text-decoration: none;
	padding: 2rem 2rem;
	color: black;
	z-index: 10;
}

.nav-item::after{
	content: '';
    display: block;
    width: 0;
    height: 0.07rem;
    background: #000;
    transition: width .3s;
}
.nav-item:hover::after, .nav-item:focus::after{
	width: 100%;
}
/* White text version of nav */

.nav-item-white{
	text-decoration: none;
	padding: 2rem 2rem;
	color: #F8F8F6;
	z-index: 10;
}

.nav-item-white::after{
	content: '';
    display: block;
    width: 0;
    height: 0.07rem;
    background: #F8F8F6;
    transition: width .3s;
}

.nav-item-white:hover::after, .nav-item-white:focus::after{
	width: 100%;
}

footer{
	width: 100%;
	background-color: black;
	color: #98A7AC;
	position: relative;
	margin: 0;
	padding: 2rem 0 2rem 0;
}

footer a, footer p{
	margin: 0.5rem 1rem;
	text-align: center;
}

/************ video header ***************/

.video-header{
	position: relative;
	width: 100%;
	margin: auto;

	overflow: hidden;
}

video{
	width: 100%;
}

.header-text h1{
	margin: 0;
	font-size: 3rem;
}

.header-text p{
	margin: 0;
}

.video-box{
	width:100%;
}

.overlay{
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}


/************ Projects on index.html ***************/
.content-title{
	text-align: center;
}

.project{
	position: relative;
	overflow: hidden;
}

.project h2{
	color: white;
	z-index: 10;
}
.image-banner {
	width: 100%;
}

.image-banner img{
	max-width: 50%;
	height: 50%;
}

.img-hover{
    transition: background .3s ease-in, transform .3s ease-out;
}
.img-hover:hover{
	transform: scale(1.05);
}

/************ project detail general css ***************/
.title{
	color: white;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 1rem 0;
}

.back-to-top{
	margin:2rem 0;
}
.btn{
	margin:1rem 0;
}

#button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color .3s, opacity .5s, visibility .5s;
}

#button:active {
  background-color: #555;
}

#button:hover, #button:focus {
  cursor: pointer;
  cursor: hand;
  background-color: #333;
  color: white;
}

.colour-header{
	position: relative;
	width: 100%;
	height: auto;
	top:0;
	
}

/* Next Project */
.next-proj-img{
	overflow: hidden;
	max-height: 200px;
	padding-top: 0.7rem;
}

.next-project{
	text-align: left;
}


.modal{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal:hover {
	opacity: 0.7;
}

iframe{
	border: none;
}

figure{
	margin: 0;
}

/************ Modal BG ***************/
.modalStyle{
	display: none; /* Hidden*/
	position: fixed;
	z-index: 1;
	padding-top: 120px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

.modal-content{
	margin: auto;
	display: block;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Animation Zoom In */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


