/************ General left and right margin ***************/
.margin-box{
	margin: 0% 3%;
}

/************ Video index.html ***************/
.header-text{
	text-align: center;
	padding: 0.5rem;
	margin: 1rem 1rem 0 1rem;
	z-index: 10;
	color: black;
	order: 2;
}

.video-box{
	position: relative;
}

/*
.overlay{
	display: none;
}
*/

/************ Projects index.html ***************/
.project{
	margin: 2rem 0.5rem;
	height: 20vh;
}

 .content-title{
 	margin: 5rem 0.5rem 0 0.5rem;
 }


/************ project detail pages ***************/
.title{
	padding: 1rem 1rem;
}

.content{
	position: relative;
	width: 100%;
	height: auto;
}

.content h2, .content h3{
	margin: 0;
	margin-top: 4rem;
}

.content p {
	margin: 0;
	margin-top: 0.5rem;
	line-height: 2rem;
}

.img-script{
	max-width: 400px;
}

.project-section{
	margin: 5rem 0;
}

/* changes in mobile style for colour header img */
.colour-header img{
	max-width: 100%;
	height: 100%;
	margin-top: 15%;
}

/******* MODAL ******/
/* 100% Image on Smaller Screens  for MODAL popup*/
.modal-content {
	width: 100%;
}









