/************ General left and right margin ***************/
.margin-box{
	margin: 0% 20%;
}

/************ Video index.html ***************/
.video-header{
	height: 50vh;
}

.header-text{
	text-align: center;
	padding: 0.5rem;
	margin: 1rem;
	z-index: 10;
	color: white;

	align-self: flex-end;
}

.video-box{
	position: absolute;
}

/************ Projects index.html ***************/

.project{
	margin: 3rem 7rem;
	height: 40vh;
}

.content-title{
	margin-top: 5rem;
}

/************ project detail pages ***************/


.content{
	position: relative;
	width: 100%;
	height: auto;
}

.content h2, .content h3{
	margin: 0;
	margin-top: 4rem;
}

.content p {
	margin: 0;
	margin-top: 0;
	line-height: 2rem;
}

.img-script{
	max-width: 400px;
}

.project-section{
	margin: 5rem 0;
}

/* Larger desktop size style for colour header img */
.colour-header img{
	width: 40%;
	height: 40%;
	margin-top: 5%;
}

/******* Modal *********/
.modal-content{
	width: 80%;
}