/************ General left and right margin ***************/
.margin-box{
	margin: 0% 20%;
}

/************ Video index.html ***************/
.video-header{
	height: 50vh;
}

.header-text{
	text-align: center;
	padding: 0.5rem;
	margin: 1rem;
	z-index: 10;
	color: white;

	align-self: flex-end;
}

/************ Projects index.html ***************/

.project{
	margin: 5rem 10rem;
	height: 40vh;
}

/************ project detail pages ***************/

.header{
	position: relative;
	width: 100%;
	height: 40vh;
}
.colour-header{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
}
.title h1{
	color: white;
	text-align: center;
}

.title{
	position: absolute;
	width: 100%;
	bottom: 0;
}

.content{
	position: relative;
	width: 100%;
	height: auto;
}

.content h2, .content h3{
	margin: 0;
	margin-top: 4rem;
}

.content p {
	margin: 0;
	margin-top: 1rem;
	line-height: 2rem;
}

.img-script{
	max-width: 400px;
}

.project-section{
	margin: 5rem 0;
}
/******* Modal *********/
.modal-content{
	width: 80%;
}

/*** #button active on main, hover and focus here cause useless on mobile ***/
#button:hover, #button:focus {
  cursor: pointer;
  background-color: #333;
  color: white;
}